/* * {
    color: red;
} */

/* [href] {
    color: aquamarine;
} */
/* 
[href="https://www.baidu.com"] {
    color: rgb(12, 5, 5);
}

[href$="xinlang.com"] {
    color: rgb(165, 62, 62);
    $表示以taobao.com结束
}

[class*="b"] {
    color: green;
    包含b类的元素
} */

/* a:link{
    color: #000;
}

a:visited{
    color: rgb(255, 0, 0);
}

a:hover{
    color: blueviolet;
}

a:active {
    color: black;
}
 */
/* 
 span::before{
     content: "《";
     color: red;
 }
span::after{
    content:》;
    color:red;
}
 */

 /* p {
     text-indent: 2em;
     line-height: 2;
 }

 p.red{
     color: red;
 }

 .red li {
     color:blue;
 } */


 .abc>.bcd {
    color: red;
 }

 .special~li{
     color: #008c8c;
 }

 .special+li{
     color: #008c8c;
 }

 .special,.q,.w,.t{
     color: red;
 }