.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body {
    color: #333;
}

.main {
    line-height: 1.5;
}

.main .nav {
    height: 60px;
    background-color: #47464a;
    color: #999;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
}

.main .nav a{
    margin: 0 38px;
}
.main .nav a:hover{
    color: #fff;
}
.main .nav a.select{
    color: #ef4238;
}

.main .container {
    width: 1120px;
    margin: 0 auto;
}

.main .container .choose_area {
    border: 1px solid #e5e5e5;
    margin: 40px 0;
    font-size: 14px;
    line-height: 30px;
    padding:0 30px;
}

.main .container .choose_area .item {
    margin: 1em 0;
    border-bottom: 1px dotted #e5e5e5;
}

.main .container .choose_area .item.no-line{
    border: none;
}

.main .container .choose_area .item .left {
    float:left;
    color: #999;
    text-align: right;
    width: 60px;
}
.main .container .choose_area .item .right {
    float: left;
    width: 980px;

}
.main .container .choose_area .item .right li{
    float: left;    
    margin: 0 9px;
    padding: 0 6px;
}
.main .container .choose_area .item .right li:hover{
    color: #ef4238;
}
.main .container .choose_area .item .right li.select {
    background-color: #ef4238;
    color: #fff;
    /* CSS3 圆角边框 */
    border-radius: 15px;
}

.main .container .movies .movie-item {
    float: left;
    width: 160px;
    margin: 10px 30px 10px 0px;
}

.main .container .movies .movie-item:nth-child(6n){
    /* 选中括号里符合条件的类 并对其执行样式改变 */
    margin-right: 0px;
}


.main .container .movies .movie-item .poster img {
    /* 改变图片大小的方法，在css样式表中 */
    width: 160px;
    height: 220px;
}

.main .container .movies .movie-item .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
    text-align: center;
}
.main .container .movies .movie-item .score {
    color: #ffb400;
    text-align: center;
    line-height: 2.0;
    font-style: italic;
}

.main .container .movies .movie-item .score::first-letter{
    /* 选中元素里的第一个字母 */
    font-size: 1.2em;
}
/* .main .container .pager {
    text-align: center;
}
.main .container .pager a{
    text-align: center;
    color: #333;
    border: 1px solid #d8d8d8;
    display: inline-block;
    height: 30px;
    width: 20px;
    line-height: 30px;
    padding: 0 4px;
    
}
.main .container .pager a.other{
    width: auto;
}
.main .container .pager a.current{
    background: red;
    color: #fff;
    border:1px solid red;
}
.main .container .pager a:hover {
   border: 1px solid red;
} */
